# .clang-format
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ColumnLimit: 0
BreakStringLiterals: false
SortIncludes: false